body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.main-navigation {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.news-grid {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-around;
  flex: auto auto 1;
  list-style: none;
}

.news-grid .news {
  width: 30%;
  height: 200px;
}



